
// =========================================================== 
// Import
// ===========================================================   
@import "@option__";
@import "font";
@import "grid";

// =========================================================== 
// END Import
// ===========================================================   

// =========================================================== 
// @media element 1201 style  <--
// =========================================================== 
@media only screen and (min-width: 1201px) {

    header {}

    header,
    footer,
    [class*='section__'] {
        padding: 100px 0;
    }

}

// =========================================================== 
// END @media element 1201 style  <--
// =========================================================== 


// =========================================================== 
// @media element 1200 style -->
// =========================================================== 
@media only screen and (max-width: 1200px) and (min-width: 993px) {

    header,
    footer,
    [class*='section__'] {
        padding: 100px 0;
    }

    /* display__center__element  ----------------> */
    .display__center__element{
        text-align: center;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: none;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last {
        margin-bottom: 50px !important;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 45px auto 50px !important;
    }
}

// =========================================================== 
// END @media element 1200 style  -->
// =========================================================== 


// =========================================================== 
// @media element 992 style  -->
// =========================================================== 
@media only screen and (max-width: 992px) and (min-width: 601px) {

    header,
    footer,
    [class*='section__'] {
        padding: 50px 0;
    }


    h1 {
        font: 40px $pb !important;
    }

    h2 {
        font: 30px $pb !important;
    }

    h3 {
        font: 25px $b;
    }

    h4 {
        font: 23px $b;
    }

    /* display__center__element  ----------------> */
    .display__center__element {
        text-align: center;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 45px auto 50px !important;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last {
        margin-bottom: 50px !important;
    }
    /* padding__bottom__element  ----------------> */
    .padding__bottom__element {
        padding-bottom: 50px !important;
    }
}

// =========================================================== 
// END @media element 992 style  -->
// =========================================================== 
// =========================================================== 
// @media element 600 style  -->
// =========================================================== 
@media only screen and (max-width: 600px) {



    header,
    footer,
    [class*='section__'] {
        padding: 30px 0;
    }
    h1 {
        font: 35px $pb !important;
    }
    h2 {
        font: 25px $pb !important;
        margin-bottom: 17px!important;
    }
    h3 {
        font: 23px $pb!important;
    }
    h4 {
        font: 20px $pt !important;
    }
    p {
        font: 18px $pt !important;
    }
    /* display__center__element  ----------------> */
    .display__center__element {
        text-align: center !important;
    }
    /* display__none__element  ----------------> */
    .display__none__element {
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element {
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element {
        display: block;
    }
    /* margin__center__element  ----------------> */
    .margin__center__element {
        margin: 25px auto 30px !important;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last {
        margin-bottom: 30px !important;
    }
    /* padding__bottom__element  ----------------> */
    .padding__bottom__element {
        padding-bottom: 30px !important;
    }
}

// =========================================================== 
// END @media element 600 style  -->
// ===========================================================
