// =========================================================== 
// Import
// ===========================================================   
@import "@option__";
@import "font";
@import "grid";
@import "mixins";
@import "modules/vars";
//@import "modules/slick";

@import "modules/fancybox";
// =========================================================== 
// END Import
// ===========================================================   

 

// =========================================================== 
// Pixel Perfect
// =========================================================== 

    .front__end {
        z-index: -1001 !important;
        opacity: .5 !important;
    }

    .zindex {
        z-index: -1000 !important;
    }

// =========================================================== 
// END Pixel Perfect
// =========================================================== 




// =========================================================== 
// Button BLUE
// =========================================================== 

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 45px 0 0;
  background-color: #2A33FF;
  
  width: 100%;
  max-width: 300px;
  height: auto;
  min-height: 50px;
  
  color: #fff;


  cursor: pointer;
  border-radius: 0px;
  border: 0;

  font: 20px MyriadPro-Light;
  letter-spacing: 0.05em;
  text-decoration: none;
  
  &:hover {
    background-color: #2A33FF;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
  }

  &:focus, &:active {
    background-color: #2A33FF;
  }
}

// =========================================================== 
// END Button BLUE
// =========================================================== 



/* title style */

h1 {
    font: 48px $b;
    //        text-transform: uppercase;
    color: #000000;
        line-height: 1.1em;
    text-transform: uppercase;
}
h2 {

    font: 40px $b;
    color: #000000;
    line-height: 1.15em;
    text-transform: uppercase;
    letter-spacing: .06em;
    margin-bottom: 30px;
  
//    strong{
//        font-family: $b;
//        display: inline-block;
//    }
  
}
h3 {
    font: 28px $pb;
    font-weight: 900;
        line-height: 1.1em;
//     text-transform: uppercase;
    color: #303030;
    
}
h4 {
    font: 25px $pb;
    font-weight: 900;

//     text-transform: uppercase;
    color: #010101;
}
p {
    font: 18px $l;
    color: #010101;
    margin-bottom: 15px;
     
    
}

li{
      font: 18px $l;
    color: #010101;

        letter-spacing: .05em;
}
/* title end style */

// =========================================================== 
// END Title style
// =========================================================== 


// =========================================================== 
// independent style  NEZ
// =========================================================== 


    .anim-button {
        
           @media only screen and (min-width: 993px) {

      display: none
        }        
        @media only screen and (max-width: 992px) {

      display: inline-block;
        }   
        
        width: 28px;
        height: auto;
        cursor: pointer;
  
        margin: 10px 0;
        position: absolute;
        right: 25px;
        top: 15px;
  span {
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: 2px 0;
    display: block;
    position: relative;
    float: right;
    transition: all 0.6s ease-in;
  }
  &:hover span {
    background-color: silver;
    &:nth-child(2), &:nth-child(3) {
      background-color: silver;
    }
  }
  span {
    &:nth-child(2) {
      width: 20px;
      -webkit-transition: all .8s ease-in;
      -o-transition: all .8s ease-in;
      transition: all 0.8s ease-in;
      height: 4px;
      background-color: #fff;
      margin: 2px 0;
      display: block;
      position: relative;
      float: right;
    }
    &:nth-child(3) {
      height: 4px;
      background-color: #fff;
      margin: 2px 0;
      display: block;
      position: relative;
      float: right;
      width: 12px;
      transition: all 0.12s ease-in;
    }
  }
}





.logo {
    text-align: center;
    span {
        font: 30px $pm;
        font-weight: 900;
        color: #404141;
        //  text-transform: uppercase;

    }
}


// =========================================================== 
// END independent style  NEZ
// =========================================================== 





// =========================================================== 
// HEADER style
// =========================================================== 

    header {
        background: rgb(101, 101, 101);
//              background: #121228 url(../img/header.png) no-repeat top center;
        background-size: cover;
        min-height: 885px !important;
        padding-top: 20px !important;
      z-index: 11;
      

     

        @media only screen and (min-width: 1201px) {


        }
      
      
  
        @media only screen and(min-width:993px){
          
//          &:before{
//            content: '';
//            display: block;
//            position: absolute;
//            border: 20px solid transparent;	
//            border-bottom: 100px solid #f1f1f1; 
//            border-left: 100vh solid #f1f1f1;
//            bottom: 0;
//            left: 0;
//          }
          



        }
        @media only screen and(max-width:992px){
          
        
          
          
          .rad__logo{
            margin: 0 auto;
          }
          
                    ul.menu__ul{
            display: none;
                  
          }
          
            ul.menu__ul.open{
            display: block;
                  
          }

        }
      
     
      ul.menu__ul{
        position: relative;
        text-align: right;
        padding-top: 17px;
        
                @media only screen and (max-width: 992px) {
            background: rgba(229, 224, 246, 0.84);
            padding: 0;
            margin-top: 15px;
        }
        
        li{
          display: inline-block;
          position: relative;
          margin-left: 30px;
          
          @media only screen and (max-width: 992px) {
             display: block; 
              width: 100%;
               padding: 10px 15px;
                  padding-bottom: 10px !important;
              border-bottom: 1px solid #000;
              text-align: left;
              margin-left: 0px;

              &:last-child{
                      padding-bottom: 10px !important;
              }
          }
          
          a{
            
              @media only screen and (max-width: 992px) {
                     
                        color: #08103d;
                        font-weight: 900;
                        font-size: 16px;
                    }    
        
            color: #ffffff;
            font: 20px $sb;
            
            &:hover{
              color: #c0c0c0;
              text-shadow: 0 0 15px #000;
            }
            
          }
        }
      }
      
      .menu{
        margin-bottom: 64px;
      }


//
//        .timer{
////            font-family: $eb;
//
//            margin-top: 70px;;
//
//
//            color: #FFFFFF;
//        }
//
//        .data{
//            background: rgba(238, 238, 238, 0.2);
//            padding: 5px 10px;
//            font: 20px $pt;
//            color: #fff;
//            max-width: 377px;
//
//            img{
//            padding: 5px 15px 0 5px}
//
//        margin-bottom: 65px;
//        }
//

        h1{
        
            text-transform: uppercase;
            line-height: 15.19px;
            color: #ffffff;
            font: 35px $b!important;
            letter-spacing: 0.06em;
        }
      
      .sabtitle{
          @media only screen and(min-width:993px){
            max-width: 508px;
          }
        
        color: #dfdfdf;
        font-weight: 700;
        line-height: 30.5px;
        opacity: .9;
        letter-spacing: .16em;
        margin-left: 3px;
        

      }
      
      .block__form{
        margin-top: 5px;
        
        @media only screen and(min-width:993px){
          margin-left: auto;
          margin-right: 0;

        }
      }


//
//            .ul__one{
//
//                li{
//                  font: 18px $l;
//                    letter-spacing: .02em;
//                    color: #fff;
//                    line-height: 1.4em;
//                    margin-bottom: 15px;
//
//
//                    position: relative;
//
//                    padding-left: 15px;
//
//
//
//
//
//                    strong{
//                        font-family: 18px;
//                    }
//
//                    &:before{
//                        content: '';
//                        display: block;
//                        width: 5px;
//                        height: 5px;
//                        border-radius: 50%;
//                        background: #fff;
//                        position: absolute;
//                        left: 0;
//                        top:5px;
//
//                    }
//                }
//
//            }
//
//
//        .backraund{
//            padding-left: 100px;
//
//            .title{
//                font: 20px $pt;
//
//                /* or 26px */
//
//                color: #FFFFFF;
//                margin-bottom: 2px;
//                    margin-top: 8px;
//            }
//
//           @media only screen and (min-width: 993px) {
//
//                .blue{
//                    margin-left: 0;
//
//                }
//
//            }
//
//            .name{
//              font: 20px $pt;  
//                 margin-bottom: 2px;
//                    margin-top:1px;
//                color: #FFFFFF;
//                font-weight: 600;
//                margin-bottom: 50px;
//            }
//
//    //        .timer{
//    //            width: 100%;
//    //            display: block;
//    //                margin-top: 60px;
//    //        }
//
//            .box__info{
//
//                   h5{
//                        font: 22px $b;
//                        margin-bottom: 3px;
//                        letter-spacing: 0.075em;
//                        color: #FFFFFF;
//                    }
//
//
//                    p{
//                        font: 18px $l;
//                        color: #FFFFFF;
//                    }
//
//            }
//
//
//        }
//


    }

// =========================================================== 
// END HEADER style 
// =========================================================== 



// =========================================================== 
// SECTION style
// =========================================================== 




  .section__1{
        background-color: #f1f1f1;

}


// =========================================================== 
// END SECTION style
// =========================================================== 



// =========================================================== 
// FOOTER style
// =========================================================== 

footer {
  background-color: #050b10;
}

// =========================================================== 
// END FOOTER style
// =========================================================== 






// =========================================================== 
// @media element 1201 style  <--
// =========================================================== 


    @media only screen and (min-width: 1201px) { 

        header{
          
        }

        header,
        footer,
        [class*='section__']{
            padding: 100px 0;
        }

    }


// =========================================================== 
// END @media element 1201 style  <--
// =========================================================== 



// =========================================================== 
// @media element 1200 style -->
// =========================================================== 

    @media only screen and (max-width: 1200px) and (min-width: 993px) {
      
      .images_1{
          display: none !important;
      }
      
      .section__4 .box ul li{
            padding: 40px 0 40px 80px;
            position: relative;
         
          margin-left: auto;
          margin-right: auto;
            width: 60%;
      }
      
      .section__4 .box ul li:before {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 50px;
          left: 0px;
          margin-top: 5px;
          border-radius: 50%;
          z-index: 8;
          background: #08103d;
      }
      
      .section__3{
        .container{
          .row:nth-child(2){
            max-width: 500px;
          }
        }
        
      }
      .section__3 h2{
      width: 100%;
      }
      
      .section__1{
        height: 955px;
      }
      
        .row .col {
    padding: 0 2rem;
}
      
      header{
        height: 1200px;
      }
      header .block__form{
        margin-left: auto;
        margin-right: auto;
      }
      
      header ul.menu__ul li{
        margin-left: 20px;
          a{
              font-size: 17px;
          }
        
      }

        header,
        footer,
        [class*='section__']{
            padding: 100px 0;
        }

        /* display__center__element  ----------------> */
        .display__center__element,
      .section__3 h2,
        .section__3{
            text-align: center;
        }
        /* display__none__element  ----------------> */
        .display__none__element,
      .section__4 .box .images_1,
      .section__4 .box:after{
            display: none;
        }
        /* display__flex__element  ----------------> */
        .display__flex__element{
            display: flex;
        }
        /* display__block__element  ----------------> */
        .display__block__element{
            display: block;
        }
        /* margin__bottom__element  ----------------> */
        .margin__bottom__element,
      .last{
            margin-bottom: 50px !important;
        }
        /* margin__center__element  ----------------> */
        .margin__center__element,
      .section__3 form,
      .section__4 .box .images_2{
            margin: 45px auto 50px !important;
        }
    }

// =========================================================== 
// END @media element 1200 style  -->
// =========================================================== 




// =========================================================== 
// @media element 992 style  -->
// =========================================================== 

@media only screen and (max-width: 992px) and (min-width: 601px) {
  
        footer .border__left{
        height: 94px;
      }
  
       .section__6 .box__cont .info h3 .year{
    margin: 15px 0 ;
          
          float: inherit
            
  }
    
  
     .border__left{
//                   margin-top: 50px;
//                    height: 70px !important;
//                    border-left: 0px solid #fff !important;
//                    border-top: 6px solid #fff;
//                    position: relative;
//                    padding-left: 40px;
//                    display: flex;
//                    justify-content: center;
//                    align-items: center;
       
       p{
         font-size: 30px !important
       }

                  }
  
  .section__8 .border__box{
    font-size: 30px !important;
  }
  
    .section__8 {
  
    padding-top: 150px !important;
 
}
  
  .section__7 {
  
    clip-path: polygon(0 0,0 97%,100% 100%,100% 0);
 
}
  .section__7 .box__cont__block {
    max-width: 100%;
    width: 100%;
    text-align: center;
}
  
  .section__2{
        clip-path: polygon(0 0,0 100%,3005% 0,0 0);
  }  
  .section__3{
 
    clip-path: polygon(0 0,0 97%,100% 100%,100% 0);
  }
   
  .section__4{
     margin-bottom: -105px;
clip-path: polygon(0 0,0 100%,2005% 0,0 0);
        padding-bottom: 120px!important;
  }
  
  
  .section__1 .container{
    .row:nth-child(2){
      .col:nth-child(2){
        margin-left: -40px;
      }
    }
  }
  
  .section__1 .box_text h3{
    font-size: 55px;
  }
  
  .section__1 .box_text p{
    font-size: 17px;
  }
  
  .section__4 .box:after {
   display: none;
}
  
  .section__4 .box ul {
    display: block;
    position: relative;
}
  
  .section__4 .box__border{
    height: auto;
  }

  
      
      .section__4 .box ul li{
            padding: 40px 0 40px 80px;
            position: relative;
         
          margin-left: auto;
          margin-right: auto;
            width: 100%;
      }
      
      .section__4 .box ul li:before {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 50px;
          left: 0px;
          margin-top: 5px;
          border-radius: 50%;
          z-index: 8;
          background: #08103d;
      }
  
  .section__4 .box ul li:after {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    left: 25px;
    margin-left: -2px;
    z-index: 8;
    background: #08103d;
}
      
             
  
  
  .section__6 .box__cont .info{
    
    width: 100%;
    padding-right: 20px;
    padding-bottom: 35px;
  }
.section__6 .box__cont {
    height: inherit;
    display: block;
    margin-bottom: 50px;
    position: relative;
}
  
  

.section__6 .box__cont .button {
    width: 100%;
    float: inherit;
    height: 50px;
  }
  
  
  
  
  
  
  
  
  
  
  .row .col {
    padding: 0 2rem;
}
  
  .section__1 .box_text .images {
    position: absolute;
    left: 10px;
    top: 15px;
}
    

    header,
    footer,
    [class*='section__']{
        padding: 50px 0;
    }
    
    
    h1 {
        font: 40px $pb !important;
    }
    
    h2 {
        font: 30px $pb !important;
    }
    
    h3 {
        font: 25px $b;
    }
    
    h4 {
        font: 23px $b;
    }
    
    /* display__center__element  ----------------> */
    .display__center__element{
        text-align: center;
    }
    /* display__none__element  ----------------> */
    .display__none__element{
        display: flex;
    }
    /* display__flex__element  ----------------> */
    .display__flex__element{
        display: flex;
    }
    /* display__block__element  ----------------> */
    .display__block__element{
        display: block;
    }
    /* margin__center__element  ----------------> */
  .block__form,
    .margin__center__element{
        margin: 45px auto 50px !important;
    }
    /* margin__bottom__element  ----------------> */
    .margin__bottom__element,
    .last{
        margin-bottom: 50px !important;
    }
    /* padding__bottom__element  ----------------> */
    .padding__bottom__element,
    ul.list {
        padding-bottom: 50px !important;
    }
}

// =========================================================== 
// END @media element 992 style  -->
// =========================================================== 



// =========================================================== 
// @media element 600 style  -->
// =========================================================== 

    @media only screen and (max-width: 600px) {



        header,
        footer,
        [class*='section__'] {
            padding: 30px 0;
        }
        h1 {
            font: 35px $pb !important;
        }
        h2 {
            font: 25px $pb !important;
            margin-bottom: 17px!important;
        }
        h3 {
            font: 23px $pb!important;
        }
        h4 {
            font: 20px $pt !important;
        }
        p {
            font: 18px $pt !important;
        }
        /* display__center__element  ----------------> */
        .display__center__element{
            text-align: center !important;
        }
        /* display__none__element  ----------------> */
        .display__none__element{
            display: flex;
        }
        /* display__flex__element  ----------------> */
        .display__flex__element{
            display: flex;
        }
        /* display__block__element  ----------------> */
        .display__block__element{
            display: block;
        }
        /* margin__center__element  ----------------> */
        .margin__center__element{
            margin: 25px auto 30px !important;
        }
        /* margin__bottom__element  ----------------> */
        .margin__bottom__element,
        .last{
            margin-bottom: 30px !important;
        }
        /* padding__bottom__element  ----------------> */
        .padding__bottom__element {
            padding-bottom: 30px !important;
        }
    }

// =========================================================== 
// END @media element 600 style  -->
// =========================================================== 
